body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #333;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000
}

.center {
  text-align: center;
}

#box {
  width: 600px;
  margin: 4em auto;
}
